body {
	margin: 0px;
	/*background-image: url("Pizza-Food-Delicious-1440x2560.jpg");*/
    background-repeat: no-repeat;
	background-size: cover;
	min-width: 1080px;
    overflow-y: hidden;
}

.full-body {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
	min-width: 1080px;
}

.slideshow {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
	min-height:100%;
    min-width:1080px;
}

.content-transparent {
	background-color: #990000;
	opacity: 0.85;
}

.content {
	position: absolute;
	top: 65%;
	bottom: 0px;
	width: 100%;
	background-color: #990000;
	border-top: 2px white;
	border-top-style: dashed;
}

.content-table {
	width: 100%;
}

.content-table-left {
	padding-left: 50px;
	text-align: left;
	width: 40%;
	color: white;
	font-family: 'IM Fell Double Pica', serif;
}

.content-table-left a{
	text-decoration:none;
	color: white;
}

.content-table-left-header {
	font-family: "Tangerine", cursive;
	font-size: 75px;
}

.content-table-right {
	padding-right: 50px;
	text-align: right;
	width: 60%;
	color: white;
	font-family: 'IM Fell Double Pica', serif;
}

.content-table-right-link {
	display: inline-block;
	width: 146px;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	/* margin-left: 20px;
	margin-right: 20px;
	border-radius: 5px;*/
	color: #490000;
	font-family: 'IM Fell Double Pica', serif;
	text-decoration: none;
	background-color: white;
	font-size: 130%;
}

.content-table-right-link:hover {
	color: white;
	background-color: #490000;
}

.login_form {
    color: white ;
    text-align: center ;
    font-family: "Tangerine", cursive;
    font-size: 50px ;
}

.submit_button , button{
    border: 0 none ;
    background: white ;
    height: 35px;
    width: 150px;
    font-family: 'IM Fell Double Pica', serif;
	font-size: 20px;
    color: #990000 ; 
    font-weight: 500 ;
    cursor:pointer ;
}

input[type=submit]:hover , button:hover{
    border:none;
    background-color: #490000;
	color: white;
	cursor: pointer;
}

.error {
    color:white ;
    font-family: 'IM Fell Double Pica', serif;
    text-transform: uppercase ;
    font-size: 14px ;
}

.forgot {
    color:white ;
    font-family: 'IM Fell Double Pica', serif;
    font-size: 15px ;
    outline: 1px solid #5024FF;
    padding: 0 ; 
    margin: 0 ;
    border-collapse: collapse ;
    text-transform:capitalize;
}
/*Utility CSS (*/
/* {
	border: solid 2px;
}